@model CommAsst17in18for172.Models.Message
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<!--this view uses the Message class we created and just returns
    whatever message we send it ~ spconger-->

<p>@Html.DisplayTextFor(model => model.MessageText)</p>